// body {
//   background-color: #fbc547;
//   color: #333;
//   font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
//     "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
//     "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
//     "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
//   padding: 18vh 1rem;
//   text-align: center;
// }

// a {
//   color: rgba(#000, 0.7);

//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

// .middleman-logo {
//   margin-bottom: 1rem;
//   width: 10rem;
// }

h1{
    border-bottom: 1px solid #ccc;
}
h2{
    color: #666 !important;
}
h3{
    color: #999 !important;
}